html,
body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    font-family: Arial;
}

header,
footer {
    line-height: 1.5;
    text-align: center;
    color: white;
}

header {
    font-size: 19.2px;
    padding: 5px;
    background-color: green;
}

footer {
    background-color: black;
}

#main {
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    flex: 1;
}

#menu {
    background-color: red;
    color: white;
    padding: 20px 20px 20px 40px;
    width: 150px;
    flex-shrink: 0;
}

    #menu > div {
        margin: 10px 0;
        text-decoration: underline;
    }

        #menu > div:hover {
            background-color: green;
        }

#themes {
    padding: 20px;
    text-align: justify;
}

.red-text {
    font-size: larger;
    color: red;
}

#themes::selection {
    background: green;
    color: white;
}
